/*
 **************************
 * no borders for toolbar *
 **************************

.button.flat {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}

 *************
 * overshoot *
 *************
.overshoot.top {
    background: -gtk-gradient(radial, center top, 0, center top, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

.overshoot.right {
    background: -gtk-gradient(radial, right center, 0, right center, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

.overshoot.bottom {
    background: -gtk-gradient(radial, center bottom, 0, center bottom, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

.overshoot.left {
    background: -gtk-gradient(radial, left center, 0, left center, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

 **************
 * undershoot *
 **************
.undershoot {
    background: none;
}
*/
