@define-color silver_selected #FF4545;

/*************************
 * 	   Scale	 *
 *************************/
GtkScale.slider:hover {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                     from (shade(mix(@theme_bg_color, shade(@silver_selected, 0.9), 0.4), 1.2)),
                                     to (shade(mix(@theme_bg_color, shade(@silver_selected, 0.9), 0.4),0.97)));
}
.menubar .menuitem .scale.highlight.left,
.scale.highlight.left {
    background-image: -gtk-gradient(linear, left top, left bottom,
                                    from (shade(shade(@silver_selected, 0.9), 1.1)),
                                    to (shade(shade(@silver_selected, 0.9), 0.9)));
    border-color: transparent;
}

.scale.highlight.bottom {
    background-image: -gtk-gradient(linear, left top, right top,
                                    from (shade(shade(@silver_selected, 0.9), 1.1)),
                                    to (shade(shade(@silver_selected, 0.9), 0.9)));
    border-color: transparent;
}

/*
 **************************
 * Selected button color  *
 **************************
 */
.button:focus,
.button:hover:focus,
.button:active:focus,
.button:active:hover:focus,
.button:checked:focus,
.button:checked:hover:focus {
    border-color: shade(@silver_selected, 0.8);
}

/***********************************************************
 *** Typical fixes for outdated GTK3 themes		 ***
 *** Uncomment or (better) place this in gtk-widgets.css ***
 *** file if everything looks like shit for you		 ***
 ***********************************************************/

/*
 **************************
 * no borders for toolbar *
 **************************

.button.flat {
    border-color: transparent;
    background-image: none;
    box-shadow: none;
}

 *************
 * overshoot *
 *************
.overshoot.top {
    background: -gtk-gradient(radial, center top, 0, center top, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

.overshoot.right {
    background: -gtk-gradient(radial, right center, 0, right center, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

.overshoot.bottom {
    background: -gtk-gradient(radial, center bottom, 0, center bottom, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

.overshoot.left {
    background: -gtk-gradient(radial, left center, 0, left center, 0.7, from(shade(@theme_bg_color, 0.92)), to(alpha(@theme_bg_color, 0.0)));
}

 **************
 * undershoot *
 **************
.undershoot {
    background: none;
}

 ***********
 * spinner *
 ***********
@keyframes spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

.spinner:active {
    animation: spinner 1s infinite linear;
    opacity: 1;
}

*/
